### IntelliJ IDEA ###
target
.idea
*.iws
*.iml
*.ipr

/all-task1/.idea
/all-task1/*.iws
/all-task1/*.iml
/all-task1/*.ipr
/all-task1/target

/all-task1/first-task1/.idea
/all-task1/first-task1/*.iws
/all-task1/first-task1/*.iml
/all-task1/first-task1/*.ipr
/all-task1/first-task1/target

/all-task1/second-task1/.idea
/all-task1/second-task1/*.iws
/all-task1/second-task1/*.iml
/all-task1/second-task1/*.ipr
/all-task1/second-task1/target

/all-task1/third-task1/.idea
/all-task1/third-task1/*.iws
/all-task1/third-task1/*.iml
/all-task1/third-task1/*.ipr
/all-task1/third-task1/target

/all-task1/fourth-task1/.idea
/all-task1/fourth-task1/*.iws
/all-task1/fourth-task1/*.iml
/all-task1/fourth-task1/*.ipr
/all-task1/fourth-task1/target

/all-task2/task2.1/.idea
/all-task2/task2.1/*.iws
/all-task2/task2.1/*.iml
/all-task2/task2.1/*.ipr
/all-task2/task2.1/target

/all-task2/task2.2/.idea
/all-task2/task2.2/*.iws
/all-task2/task2.2/*.iml
/all-task2/task2.2/*.ipr
/all-task2/task2.2/target

/all-task2/task2.3/.idea
/all-task2/task2.3/*.iws
/all-task2/task2.3/*.iml
/all-task2/task2.3/*.ipr
/all-task2/task2.3/target

/all-task2/task2.3*/.idea
/all-task2/task2.3*/*.iws
/all-task2/task2.3*/*.iml
/all-task2/task2.3*/*.ipr
/all-task2/task2.3*/target

/task3/.idea
/task3/*.iws
/task3/*.iml
/task3/*.ipr
/task3/target

/task4/.idea
/task4/*.iws
/task4/*.iml
/task4/*.ipr
/task4/target
