### IntelliJ IDEA ###
target
.idea
*.iws
*.iml
*.ipr

/task1/.idea
/task1/*.iws
/task1/*.iml
/task1/*.ipr
/task1/target

/new-task1/.idea
/new-task1/*.iws
/new-task1/*.iml
/new-task1/*.ipr
/new-task1/target

/task2.1/.idea
/task2.1/*.iws
/task2.1/*.iml
/task2.1/*.ipr
/task2.1/target

/task2.3/.idea
/task2.3/*.iws
/task2.3/*.iml
/task2.3/*.ipr
/task2.3/target

/task2.3*/.idea
/task2.3*/*.iws
/task2.3*/*.iml
/task2.3*/*.ipr
/task2.3*/target

/task3/.idea
/task3/*.iws
/task3/*.iml
/task3/*.ipr
/task3/target

/task4/.idea
/task4/*.iws
/task4/*.iml
/task4/*.ipr
/task4/target
